body {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/115/140/original/Finalmap.jpg?1707776399);
  background-repeat: repeat;
  background-size: cover;
  background-color: #00648c;
}
.title {
  color: #d6f1f2;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 250;
  font-style: normal;
  font-size: 60px;
  margin: 0 auto;
  text-shadow: 10px 5px 5px rgba(0, 0, 0, 0.9);
}
.container {
  text-align: center;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  margin: 30px auto;
}
.cities-dropdown {
  background-color: whitesmoke;
  opacity: 0.8;
  border-radius: 10px;
  padding: 20px;
  margin: 8px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.4);
  font-style: normal;
}

.cities {
  padding: 12px;
  color: black;
  border-radius: 4px;
  width: 100%;
  border: 2px solid #6d92c0;
  font-size: 16px;
  display: block;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}
.city-container {
  display: flex;
  flex-direction: column;
}
.city {
  background-color: whitesmoke;
  color: rgb(69, 69, 69);
  opacity: 0.87;
  border-radius: 10px;
  padding: 16px;
  margin: 8px;
  transition: all 300ms ease-in-out;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}

.destination {
  margin-bottom: 0;
  font-weight: 450;
}

.date {
  opacity: 0.7;
}

.time {
  font-size: 42px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.time small {
  font-size: 20px;
  vertical-align: middle;
  line-height: 36px;
  padding-left: 0;
}

.city:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 20px rgba(185, 228, 244, 0.95);
}

footer {
  text-align: center;
  background-color: whitesmoke;
  opacity: 0.9;
  border-radius: 10px;
  padding: 10px;
  margin: 0 auto;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.4);
  font-style: normal;
  max-width: 650px;
  display: block;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
}
