body {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/115/029/original/6448.jpg?1707710989);
  background-repeat: repeat;
  background-size: cover;
  height: 100%;
  background-color: #d9f6f9;
}
